


.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}


.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
 background-color: #fffbf3;

  color: black;
  mix-blend-mode: difference;
  z-index: 8;
  pointer-events: none;
}

.hero-content {
  /* background-color: blueviolet; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
  z-index: 3;

}

.hero-content>* {
  margin: 0;
  padding: 0;
}

.contact {
color: #fffbf3;
  margin: 2vw 2vw;
  align-self: flex-end;
  /* font-weight: 800; */
  cursor: pointer;
  font-size: 1vw;
  font-family: "Arial", sans-serif;
  letter-spacing: 0.05rem;
  text-align: end;
}

.contact h2 {
  margin-right: 2vw;
  font-size: 1.vw;
  font-weight: 700;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 1vw;
}

.social-links a {
  text-decoration: none;
  font-size: 1vw;
  font-family: "Arial", sans-serif;
  font-weight: 100;
  letter-spacing: 0.05rem;
  color: #fffbf3;
}


.middle {
  padding: 0 2vw;
  z-index: 999;
  color: #fffbf3;
}

.heading img {
  filter: invert(1) sepia(1) saturate(100%) hue-rotate(330deg);
  /* filter: invert(1); */
}

.para {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-weight: 100;
  font-size: 1.2vw;
  margin-top: 0;
  padding-bottom: 4rem;
}

.subtitle {
  font-size: 1.1vw;
  font-style: italic;
}

.antoine {
  font-weight: 800;
}

@media (max-width: 768px) {
  .hero {
    height: 100vh; 
  }

  .hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .overlay {
    height: 50vw; 
  }

  .hero-content {
    padding: 1vw;
    justify-content: flex-start;
  }

  .contact {
    font-size: 0.9vw;
    margin: 1vw;
  }

  .contact h2 {
    font-size: 1vw;
  }

  .social-links {
    flex-direction: row; 
    justify-content: flex-start;
    gap: 3vw;
    margin-top: 1vw;
  }

  .social-links a {
    font-size: 1vw;
  }

  .middle {
    padding: 0 1vw;
    font-size: 1.5vw;
  }

  .para {
   
    align-items: flex-start;
    font-size: 0.9vw;
    padding-bottom: 2vw;
    gap: 0.5vw;
  }

  .subtitle {
    font-size: 1vw;
  }

  .antoine {
    font-size: 1vw;
  }
}
