.horizontal {
  height: 100vh;
  width: 120%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.horizontal-image-row {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.horizontal-image-row img {
  align-self: self-start;
  height: 13vw;
  width: 12vw;
  filter: grayscale(100%);
  cursor: pointer;
   transition: all 0.4s ease-in-out;

}

.horizontal-image-row img:hover {
  filter: grayscale(0%);
  /* transition: all 0.4s ease-in-out; */
  transform: scale(1.2);
}

.image h2 {
  font-family: "Didot", "Bodoni", serif;
  /* font-style: italic; */
  font-weight: 100;
  font-size: 1vw;
}

@media (max-width: 768px) {

  .horizontal-image-row {
    /* margin-top: 10vw; */
    padding: 0 1vw;
    background-color: cadetblue;
    gap: 5vw;
    flex-wrap: wrap;
    padding-right: 4vw;
  }

  .horizontal-image-row img {
    /* display: flex; */
    flex-wrap: wrap;
    align-self: self-start;
    height: 20vw;
    width: 15vw;
    filter: grayscale(100%);
    cursor: pointer;

  }
}